@charset "UTF-8";

.home_body{
	margin-top: 90px;
}
#home p{
	margin-top: 18px;
	margin-bottom: 18px;
    font-size: 20px;
    border-left: 5px solid red;
    padding-left: 15px;
}
.home_notice{
    background-color: #FFE4E4;
    width:  1140px;
    height: 137px;
}
/*홈_공지사항*/
#notice{
    padding-right: 20px; padding-left: 20px;
    font-weight: bolder; font-size: 25px;
    color: red;
}
#notice_title{
    font-size: 37px;
    line-height: 137px;
}

/*홈_문의사항*/
#home_question_back_back{
    background-color: #D9D9D9;
}
#home_question_back{
    background-color: white;
}
#home_question{
    font-weight: bold;
    font-size: 20px;
}

#line1{
    border-bottom: 3px solid red;
    margin-top: 37px;
    margin-bottom: 10px;
}
/*홈_ 글쓰기 버튼*/
#btn_w{
    width: 140px;
    height: 40px;
    background-color: #777474;
    text-align: center;
    board-left: none;
}
p#btn_w{
	border-left:none;
	padding-left: 0px;
}
#btn_w a{
    font-size: 20px;
    color: black;
   
    line-height: 40px;
    font-weight: bold;
}
